.about-us-section section {
  padding: 50px 15px;
}

.about-us__header-img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  min-height: 240px;
  margin-top: 80px;

  @media only screen and (min-width: 768px) {
    min-height: 350px;
  }

  @media only screen and (min-width: 992px) {
    width: 100%;
    left: auto;
    transform: none;
  }
}

@import './about-us-contributors';
@import './about-us-motivation';
@import './about-us-join-us';
@import './about-us-footer';
