// External libs
@import 'antd/dist/antd.css';

@import 'common/all.scss';
@import 'partials/all.scss';
@import 'pages/home/home.scss';
@import 'pages/party-detail/party-detail.scss';
@import 'pages/party-candidates/party-candidates.scss';
@import 'pages/party-manifesto/party-manifesto.scss';
@import 'pages/about-us/about-us.scss';
@import 'pages/debates/debates.scss';
