@import "./party-header";
@import "./party-intro";
@import "./party-metrics";
@import "./party-candidates";

main.party-section {
  padding: 0;

  .ant-layout-content {
    padding: 32px;

    @media only screen and (min-width: 992px) {
      padding: 64px;
    }
  }

  section.ant-layout {
    padding: 0;
  }
}
