name: Build Nextjs app

on:
  pull_request:
    types:
      - opened
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set Node.js 14.x
        uses: actions/setup-node@v3
        with:
          node-version: 14.x

      - name: Run install
        uses: borales/actions-yarn@v4
        with:
          cmd: install # will run `yarn install` command

      - name: Build app
        uses: borales/actions-yarn@v4
        with:
          cmd: build # will run `yarn build` command
